body.register_body {
  background-color: #f4f4f9;
  font-family: Arial, sans-serif;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.register_form {
  background: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 300px;
}

.register_form div {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="checkbox"] {
  margin-right: 10px;
}

button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  font-weight: bold;
}

button:hover {
  background-color: #848be6;
}

.form-footer {
  text-align: center;
  margin-top: 20px;
}

.form-footer a {
  color: #5c67f2;
  text-decoration: none;
}

.form-footer a:hover {
  text-decoration: underline;
}


/* the focus state  */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #4a54e1;
  outline: none;
}
